body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #222;
}
section h2{
    text-align: center;
    padding: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  font-size: 15px;
}

.btn {
  padding: 10px 18px;
  background: #1a73e8;
  color: white;
  border-radius: 8px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
}

.hero p {
  max-width: 600px;
  margin: 15px auto;
  font-size: 18px;
  color: #555;
}

.cta {
  display: inline-block;
  padding: 14px 26px;
  margin-top: 20px;
  background: #1a73e8;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}

/* HOW IT WORKS */
.how {
  padding: 70px 20px;
  background: white;
  text-align: center;
}

.how-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.how-card {
  background: #f2f4f8;
  padding: 25px;
  border-radius: 12px;
}

/* FEATURES */
.features {
  padding: 70px 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  max-width: 900px;
  margin: auto;
}

.feature {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: 600;
}

/* PRICING */
.pricing {
  padding: 80px 20px;
  background: #f2f4f8;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.pricing-card {
  background: white;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  border: 1px solid #ddd;
}

.pricing-card.highlight {
  border: 2px solid #1a73e8;
}

.price {
  font-size: 40px;
  margin: 10px 0;
  color: #1a73e8;
}

.price span {
  font-size: 18px;
  color: #555;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.pricing-card li {
  margin: 8px 0;
  color: #444;
}

/* CTA */
.cta-section {
  text-align: center;
  padding: 80px 20px;
}

/* FOOTER */
.footer {
  padding: 20px;
  background: white;
  text-align: center;
  color: #777;
  border-top: 1px solid #ddd;
}

/* MOBILE */
@media (max-width: 700px) {
  .hero h1 {
    font-size: 36px;
  }
  .nav-links {
    display: none;
  }
}
