.session-list{
    padding: 10px;
    width: 95%;
    margin-left: 5%;
    background-color: #fffdfd;
    padding: 25px;
    border-radius: 20px;
}
.session{
    background-color: #fff;
    margin: 10px;
    padding: 50px;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    transition: filter 500ms, transform 500ms;
}
.session:hover {
    transition: filter 500ms, transform 500ms;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.1));
    transform: translateY(-2px);
}
.insbtn:hover{
    cursor: pointer;
}
