.session-list{
    padding: 10px;
    width: 70%;
    margin-left: 10px;
}
.session{
    background-color: #fff;
    margin: 10px;
    padding: 50px;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    transition: filter 500ms, transform 500ms;
}
.session:hover {
    transition: filter 500ms, transform 500ms;
    cursor: pointer;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.1));
    transform: translateY(-2px);
}